<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
		<title><%=title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <header class="header">
                <h1>
                <a href="/" style="text-decoration: none; color: #f4f5ff;"><%=title%></a>
                </h1>
                <p style="color: #f4f5ff;">The best book review app.</p>
            </header>
            <div class="column left">
                <br />
                <div class="error">
                    <%=errorMSG%>  
                    <br /><br />
                    <a href="/"><b>Back to the main page</b></a>          
                </div>
            </div>
            <div class="column right">
                <div class="last-ten">
                    <ol>
                        <h5 style="padding-left:30px; padding-bottom: 5px;">10 Last Searches</h5>
                        <%for(let i=0; i<last10.length; i++){%>
                            <li class="search"><a href='/books/<%=last10[i]%>'><%=last10[i]%><a></li>
                        <%}%>
                    </ol>
                </div>
                <div class="most-three">
                    <ol>
                        <h5 style="padding-left:30px; padding-bottom: 5px;">3 Most Searched</h5>
                        <%for(let i=0; i<most3.length; i++){%>
                            <li class="search"><a href='/books/<%=most3[i]%>'><%=most3[i]%></a></li>
                        <%}%>
                    </ol>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
    </body>
</html>