<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
		<title><%=title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <div class="header">
                <h1>
                <a href="/" style="text-decoration: none; color: #f4f5ff;"><%=title%></a>
                </h1>
                <p style="color: #f4f5ff;">The best book review app.</p>
            </div>
            <div class="column left">
                <br />
                <form action="/" method="post" class="form">
                    <input name="bookName" class="input" type="text" placeholder="Write book's name here" required />
                    <button type="submit">View</button>
                </form>
                <div class="review">
                    <p class='name'><b><%=name%></b></p>
                    <%-review%>
                    <br />
                    <br />
                    <%if (name != '') { %>
                        <div class="more">
                            <a href='/books/<%=name%>'>Click here to view more details about this book</a>
                        </div>
                    <% } %>                
                </div>
            </div>
            <div class="column right">
                <div class="last-ten">
                    <ol>
                        <h5 style="padding-left:30px; padding-bottom: 5px;">10 Last Searches</h5>
                        <%for(let i=0; i<last10.length; i++){%>
                            <li class="search"><a href='/books/<%=last10[i]%>'><%=last10[i]%><a></li>
                        <%}%>
                    </ol>
                </div>
                <div class="most-three">
                    <ol>
                        <h5 style="padding-left:30px; padding-bottom: 5px;">3 Most Searched</h5>
                        <%for(let i=0; i<most3.length; i++){%>
                            <li class="search"><a href='/books/<%=most3[i]%>'><%=most3[i]%></a></li>
                        <%}%>
                    </ol>
                </div>
            </div>
            <div class="footer">
                <p style="color: #f4f5ff;">
                This is a node.js app, that uses a template engine with EJS and is connected to a MySQL database.
                The app gets the information about the books from goodreads.com/api.
                </p>
            </div>
        </div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
    </body>
</html>